#container {
    background-color: var(--base-300);
    height: 40px;
    border-radius: 4px;
    border-color: var(--neutral-500);
    border-style: solid;
    border-width: 1px;
    padding: 0 12px;
    max-width: 256px;
    color: black ;
}

i {
    height: 24px;
    width: 24px;
}

input {
    background: none;
    border-color: none;
    border-width: 0px;
    color: black;
}

